* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
	font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ecf5fa;
}



.heading{
    position: relative;
    height: 60px;
    background-color: #6096B4;
    max-width: 100%;    
    right: 0;
    left: 0;
}
input:focus {
    outline: 0;
}
.heading .input {
    margin: 10px;
    height: 40px;
    width: 500px;
    border-radius: 10px;
    background-color: #ffffff;
    position: relative;
    border: 0;
}

.heading .icon-Find1{
    position: absolute;
    left: 20px;
    top: 22px;
}

#nav {
    list-style: none;
}

#nav li {    
    float: right;
    line-height: 60px;
    position: relative;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
} 

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover,
#nav > li:hover > a {
    color: #000;
    background-color: #fff;
}

#nav li a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;      
    padding-left: 20px;
    padding-right: 20px;
}

#nav .subnav {
    color: black;
    display: none;    
    list-style: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    right: 0;
    position: absolute;
}

#nav .subnav a {
    color: #000;
    font-size: 18px;
    text-align: left;
}

#nav .three-bar {
    margin-left: 10px;
    margin-right: 10px;
}






/* body */
#box {
    padding-top: 20px;
    padding-left: 25px;
    margin-right: 15px;
    width: 550px;
    height: 605px;
    background-color: white;
    box-shadow: 0 5px 5px #93BFCF;
    border-radius: 15px;
    position: absolute;
    right: 0;
    top: 70px;
}

#box .NV, .Loai{
    margin-right: 10px;
    margin-bottom: 20px;
	border: 0;
}
  
#box select {
    background-color: #fff;
    color: rgb(0, 0, 0);
    padding: 12px;
    width: 120px;
    border: none;
    font-size: 15px;
    box-shadow: 0 5px 10px #93BFCF;
    /* -webkit-appearance: button;
    appearance: button;
    outline: none; */
}
  

#box .input {    
    height: 40px;
    width: 300px;
    border-radius: 10px;
    background-color: #ecf5fa;
    border: 0;
    position: relative;
}

#box .input .icon-Find2 {
    position: absolute;
    left: 17px;
    top: 13px;
}

#box .input .icon-plus{    
    position: absolute;
    left: 270px;
    top: 13px;
    cursor: pointer;
}

#box .TinhTien div{
    display: block;
    margin-top: 20px;
    font-size: 18px;
}

#box .TinhTien div input{
    float: right;
    margin-right: 10px;
    text-align: end;
    font-size: 18px;
    border: 0;
}

#box .pay {
    margin-top: 190px;
    width: 500px;
    height: 50px;
    text-align: center;
    background-color: #6096B4;
    color: #fff;
    border: 0;
    border-radius: 20px;
}

.GhiChu {
    position: absolute;
    bottom: 70px;
    max-width: 100%;
}

.GhiChu input {
    margin-left: 10px;
    height: 60px;
    width: 890px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 5px #93BFCF;
}

.GhiChu .pen{
    position: absolute;
    left: 30px;
    top: 22px;
}


/* footer */

.footer {
    height: 60px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0 5px 10px #93BFCF;
}

.footer .Infor {
    position: absolute;
    margin-top: 20px;
    margin-right: 60px;
    right: 0;
    color: #2785b7;
}

.footer .Infor i {
    padding-left: 20px;
    padding-right: 20px;
}


.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}

.open{
    display: flex;
}

.modal-container{
    background-color: #fff;
    width: 800px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.3s;
}

.modal .modal-header{
    background-color: #6096B4;
    height:  100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: #fff;
}

.modal-container .icon-close{
    position: absolute;
    right: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-container .icon-close:hover{
    opacity: 1;
}

.modal-body{
    padding: 16px 90px;
}

.modal-body .modal-label{
    font-size: 16px;
    margin-bottom: 12px;
    display: block;
}
.modal-body .Infor-left,
.modal-body .Infor-right{
    min-width: 50%;
    float: left;    
    height: 300px;
}
.modal-body .Infor-right{
    padding-left: 50px;
}

.modal-input{
    width: 80%;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
    margin-left: 24px;
    background-color: #ecf5fa;
    border-radius: 10px;

}

.modal-container button{        
    color: #fff;
    padding: 14px;
    margin-bottom: 20px;
    margin-left: 200px;
    border: 0;
    cursor: pointer;
}
.modal-container #OK{
    background-color: #6096B4;
    padding-right: 32px;
    padding-left: 28px;
    text-align: center;
}

.modal-container #Cancel{
    background-color: red;
}

@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
