@model IEnumerable<ShopLearning.Models.EF.ShoppingCartItem>
@using ShopLearning.Models.Common
@if (Model != null && Model.Any())
{
    <h3>GIỎ Hàng<span style="float:right;position:relative"><small>@Model.Count()</small></span></h3>
    var i = 0;
    var total = decimal.Zero;
    <div style="border:1px solid #808080;">
    <table class="table">
        @foreach (var item in Model)
        {

            total += item.Price;
            <tr>
                <td>@item.ProductName</td>
                <td>@Common.FormatNumber(item.Price, 0)</td>
            </tr>
        }
            <tr>
                <td>Tổng tiền</td>
                <td>@Common.FormatNumber(total, 0)</td>
            </tr>
    </table>
    </div>
}
