@model IEnumerable<ShopOnline.Models.EF.CartItem>
@using ShopOnline.Common

@if (Model != null && Model.Any())
{
    <h3 style="padding: 5px 25px 0;">Giỏ hàng <span style="float:right;"><small>@Model.Count()</small></span></h3>
    var i = 0;
    var total = decimal.Zero;

    <table class="table">
        @foreach (var item in Model)
        {
            total += item.TotalPrice;
            <tr>
                <td>@item.Product.Alias</td>
                <td>@Common.FormatNumber(item.Product.Price, 0)</td>
            </tr>
        }
        <tr>
            <td>Tổng tiền</td>
            <td>@Common.FormatNumber(total, 0)</td>
        </tr>
    </table>
}